<div class="reveal" id="loginModal" data-reveal>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <label>Username
                        <input name="username" type="text" placeholder="Username">
                    </label>
                </div>
                <div class="small-12 cell">
                    <label>Password
                        <input name="password" type="password" placeholder="Password">
                    </label>
                </div>

                <input type="submit" class="button expanded" value="Login">                
            </div>
        </div>
    </form>
</div>