<div class="reveal" id="loginModal" data-reveal>
    <h1>Login</h1>
    <form class="login-form" method="POST" action="/login" data-abide novalidate>
        <% if (loginFailed) { %>
            <div class="callout alert">
                <h5>Invalid username or password. Please try again.</h5>
            </div>
        <% } %>

        <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i> There are some errors in your form.</p>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <label>Username
                        <input name="username" type="text" placeholder="Username" required pattern="alpha">
                        <span class="form-error">Username is required and must contain letters.</span>                         
                    </label>
                </div>
                <div class="small-12 cell">
                    <label>Password
                        <input name="password" type="password" placeholder="Password" required>
                        <span class="form-error">Password is required.</span>                                             
                    </label>
                </div>

                <div class="small-12 cell">
                    <input type="submit" class="button expanded" value="Login">                                    
                </div>
            </div>
        </div>
    </form>
</div>