<!-- Menu -->
<ul class="vertical menu">
    <% if(user) { %>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <li>
            <a href="/account">Account</a>
        </li>
    <% } else { %>
        <li>
            <a data-open="loginModal">Login</a>
        </li>
        <li>
            <a data-open="registerModal">Register</a>
        </li>
    <% } %>
    
    <li>
        <a href="/ballots">Ballots</a>
    </li>
</ul>