<div class="title-bar">
    <div class="title-bar-left">
      <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
      <span class="title-bar-title"><a href="/">Votery</a></span>
    </div>
  
    <div class="title-bar-right">
      <% if(user) { %>
        <a href="/logout">Logout</a>        
      <% } else { %>
        <a data-open="loginModal">Login</a>  |  <a data-open="registerModal">Register</a>        
      <% } %>
    </div>
  </div>