<div class="title-bar">
    <div class="title-bar-left">
      <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
      <span class="title-bar-title"><a href="/">Votem</a></span>
    </div>
  
    <div class="title-bar-right">
      <% if(user) { %>
        <a href="">Logout</a>        
      <% } else { %>
        <a href="/login">Login</a>  |  <a href="/register">Register</a>        
      <% } %>
    </div>
  </div>