<% layout('layout') -%>

<h1>Currently running elections:</h1>

<div class="election-thumb-ranked">
    <div class="ballot">
        <div class="ballot-candidates">
            <h3>Ballot:</h3>
            <% for (var i = 0; i < ballotsRanked.length; i++) { %>
                <%= ballotsRanked[i].name %>
        
                <ul>
                    <% for (var j = 0; j < ballotsRanked[i].options.length; j++) { %>
                        <li>
                            <%= ballotsRanked[i].options[j].name %>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </div>

        <div class="ballot-results">
            <h3>Results:</h3>
            <ul>
                <% for (var i = 0; i < rankedResults.length; i++) { %>
                    <li>
                        Candidate: <%= rankedResults[i].name %>
                    </li>
                    <li>
                        Votes: <%= rankedResults[i].votes %>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
