<% layout('layout') -%>

<form class="log-in-form" method="POST" action="/login">
  <h4 class="text-center">Login</h4>
  <label>Username
    <input name="username" type="text" placeholder="somebody@example.com">
  </label>
  <label>Password
    <input name="password" type="password" placeholder="Password">
  </label>
  <p>
    <input type="submit" class="button expanded" value="Log in"></input>
  </p>
</form>
