<% layout('layout') -%>

<form class="register-form" method="POST" action="/register">
  <h4 class="text-center">Register</h4>
  <label>Username
    <input name="username" type="text" placeholder="somebody@example.com">
  </label>
  <label>Password
    <input name="password" type="password" placeholder="Password">
  </label>
  <p>
    <input type="submit" class="button expanded" value="Register"></input>
  </p>
</form>
