.log-in-form, .register-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
    width: 47%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    min-width: 275px;
    margin-bottom: 15px;
}

.google-sign {
    width: 100%;
    text-align: center;
    display: block;
    padding-bottom: 15px;
}

.main {
    padding:25px;
}

.ballot-list {
    list-style: none;
}

.ballot-list-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    padding-top: 25px;
}

.ballot-list-item:last-child {
    border-bottom: none;
}

.card-divider {
    text-align: center;
    display: block;
}

.progress-meter {
    margin-top: 30px;
}